/*styles.css*/

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #b2d1d1;
    color:#4c9393;
}

ul {
    font-size: 20px;
    text-align: left;
    list-style-position: inside;
    margin-left: 900px;
    color:#005b5b;
}

img {
    padding: 40px;
}

a {
    color:#4c9393
}